{% extends "base.html" %}
{% load static %}

{% block content %}
<div class=container-fluid>        
    <div class="row">
        <div class="col-sm-4">
            <div class="card border-secondary mb-3">
                <div class="card-body text-dark">
                    <h5 class="card-title">Registration Features</h5>
                    <ul>
                        <li>Register you and your dog.</li>
                        <li>Share a photo of your dog.</li>
                        <li>Add more than one dog.</li>
                        <li>Can't remember.</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body text-dark">
                    <h5 class="card-title">Join A Dog Park Playdate</h5>
                    <p class="card-text">See who's coming.</p>
                    <p class="card-text">View location on Google Map.</p>
                    <p class="card-text">Unjoin if something comes up.</p>
                    <p class="card-text">See photos of dog pals.</p>
                    <a href="#" class="btn btn-primary">Join</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body text-dark">
                    <h5 class="card-title">Create A New Dog Park Playdate</h5>
                    
                    <p>Find your favorite dog park.</p>
                    <p>Get the exact Google address.</p>
                    <p>You set the time and date.</p>
                    <p>Add fun notes or info.</p>
                    <a href="#" class="btn btn-primary">Create</a>
                </div>
            </div>
        </div>
    </div>
        <div class="info col-sm m-2 pt-3 pb-3" style="background-color: rgba(238, 232, 232, 0.2); ">
            <h4>Registration Features</h4>
            <br>
            
        </div>

        <div class="info col-sm m-2 pt-3 pb-3" style="background-color: rgba(238, 232, 232, 0.2); ">
            <h4>Join A Dog Park Event</h4>
            <br>
            <ul class=list-group>
                <li class="list-group-item list-group-item list-group-item-light">See who's coming.</li>
                <li class="list-group-item list-group-item list-group-item-light">View location on Google Map.</li>
                <li class="list-group-item list-group-item list-group-item-light">Unjoin if something comes up.</li>
                <li class="list-group-item list-group-item list-group-item-light">See photos of dog pals.</li>
            </ul>
        </div>

        <div class="info col-sm m-2 pt-3 pb-3" style="background-color: rgba(238, 232, 232, 0.2); ">
            <h4>Create A New Dog Park Event</h4>
            <br>
            <ul class=list-group>
                <li class="list-group-item list-group-item list-group-item-light">Find your favorite dog park.</li>
                <li class="list-group-item list-group-item list-group-item-light">Get the exact Google address.</li>
                <li class="list-group-item list-group-item list-group-item-light">You set the time and date.</li>
                <li class="list-group-item list-group-item list-group-item-light">Add fun notes or info.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}